{% extends "layout.html" %}

{% block body %}
  <div class="card mt-2 mb-2">
      <div class="card-body">
          <p class="card-text">
            <a href="{{post.link}}">{{post.title}}</a>
          </p>
          <small>
            Score: <span class="vote">{{post.score}}</span> ;
            {{post.created_at}} by {{post.author()}}
          </small>
      </div>
  </div>

  <div class="card mt-2 mb-2">
    <div class="card-body">
      {% for comment in post.comments %}
        {% include "components/post_card.html" %}
      {% endfor %}
    </div>
  </div>


{% endblock %}